<div class="login">
    <div class="section-title">
        <button class="back-button" mat-icon-button routerLink="/">
            <mat-icon class="back-button-icon">keyboard_backspace</mat-icon>
        </button>
        <div class="logo-container">
            <img src="/assets/logo_p6.png" alt="logo" class="logo"/>
        </div>
        <div class="">
            <h1 class="title">Se connecter</h1>
        </div>
    </div>
    <form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
        <div class="field-group">
            <label class="field-group-label" for="emailOrUsername">E-mail ou nom d'utilisateur</label>
            <mat-form-field class="field-group-input" appearance="outline">
                <input matInput id="emailOrUsername" type="text" formControlName="emailOrUsername">
            </mat-form-field>
            <mat-error *ngIf="form.get('emailOrUsername')?.invalid && form.get('emailOrUsername')?.touched">
                E-mail ou nom d'utilisateur invalide
            </mat-error>
        </div>
        <div class="field-group">
            <label class="field-group-label" for="password">Mot de passe</label>
            <mat-form-field class="field-group-input"  appearance="outline">
                <input matInput id="password" type="password" formControlName="password">
            </mat-form-field>
            <mat-error *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
                Mot de passe invalide
            </mat-error>
        </div>
        <button class="submit-button" mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Se connecter</button>
        <p *ngIf="onError" class="error">Une erreur s'est produite</p>
    </form>
</div>