<div class="login">
    <div class="section-title">
        <button class="back-button" mat-icon-button (click)="back()">
            <mat-icon class="back-icon">keyboard_backspace</mat-icon>
        </button>
        <h1>Se connecter</h1>
        <span></span>
    </div>
    <form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
            <div class="field-group">
                <label for="email">E-mail ou nom d'utilisateur</label>
                <mat-form-field appearance="outline">
                    <input matInput id="email" type="email" formControlName="email">
                </mat-form-field>
            </div>
            <div class="field-group">
                <label for="password">Mot de passe</label>
                <mat-form-field appearance="outline">
                    <input matInput id="password" type="password" formControlName="password">
                </mat-form-field>
            </div>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Se connecter</button>
        <p *ngIf="onError" class="error">An error occurred</p>
    </form>
</div>