<div class="me">
    <div class="me-profil">
        <h1 class="me-profil-title">Profil utilisateur</h1>
        <form *ngIf="userForm" [formGroup]="userForm" (ngSubmit)="submit()">
        <mat-form-field appearance="outline">
            <input 
            matInput 
            formControlName="username"
            type="text"
            placeholder="Nom d'utilisateur">
            <mat-error *ngIf="userForm.get('username')?.invalid && userForm.get('username')?.touched">
            Veuillez bien renseigner le nom de l'utilisateur
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input 
            matInput 
            formControlName="email"
            type="email"
            placeholder="Email">
            <mat-error *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
            Veuillez bien renseigner l'email
            </mat-error>
        </mat-form-field>
        <div class="save-button-container">
            <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">
            Sauvegarder
            </button>
        </div>
        </form>
    </div>
</div>
  