<mat-drawer-container class="sidenav-container custom-backdrop"  [hasBackdrop]="true">
    <mat-drawer 
    *ngIf="($isLogged() | async) && drawerCanBeVisible"
    #drawer mode="over" 
    class="sidenav" 
    position="end">
      <mat-nav-list class="sidenav-content">
            <div class="sidenav-links">
              <a routerLink="articles" 
              class="link" 
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }">Articles</a>
              <a routerLink="topics" 
              class="link" 
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }">Thèmes</a>
            </div>
            <button routerLink="me" class="link account-button" 
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
                <mat-icon class="account-icon" aria-hidden="false" aria-label="account icon">person_outline</mat-icon>
            </button>
      </mat-nav-list>
    </mat-drawer>
  
    <mat-drawer-content>
         <header class="header">
            <mat-toolbar class="toolbar-container" *ngIf="showToolbar">
                <a (click)="navigateHome()" class="logo-container">
                <img src="/assets/logo_p6.png" alt="logo" class="logo"/>
                </a>
        
                <div *ngIf="$isLogged() | async">
                  <div class="links-container">
                    <a routerLink="articles" 
                    class="link" routerLinkActive="active"  
                    [routerLinkActiveOptions]="{ exact: true }">Articles</a>
                    <a routerLink="topics" 
                    class="link" 
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Thèmes</a>
                    <button routerLink="me" class="link account-button"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">
                        <mat-icon class="account-icon" aria-hidden="false" aria-label="account icon">person_outline</mat-icon>
                    </button>
                  </div>
          
                  <button mat-icon-button class="menu-button" (click)="drawer.toggle()">
                    <mat-icon class="menu-icon">menu</mat-icon>
                  </button>
                </div>
            </mat-toolbar>
        </header>
            
        <main>
          <ng-content></ng-content>
        </main>

    </mat-drawer-content>
</mat-drawer-container>
  