<div class="articles">
    <div class="articles-controls">
        <button mat-raised-button color="primary" 
        type="button" 
        class="create-button"
        routerLink="create">
            Créer un article
        </button>
        <button type="button" class="sort-button" (click)="toggleSortOrder()">
            <span>Trier par {{ order === 'desc' ? '↓' : '↑' }}</span> 
        </button>
    </div>
    <div class="articles-cards-container">
        <mat-card class="articles-card"
        #tooltip="matTooltip"
        [matTooltip]="article.title"
        matTooltipHideDelay="10"
        [routerLink]="['detail',article.id]"
        appearance="outlined" 
        *ngFor="let article of (articles$ | async)">
            <mat-card-header class="articles-card-header">
              <mat-card-title-group class="header-group">
                <mat-card-title class="title">{{article.title | truncate:40}}</mat-card-title>
                <div class="subtitle-group">
                    <mat-card-subtitle class="date">{{article.updatedAt}}</mat-card-subtitle>
                    <mat-card-subtitle class="author">{{ article.author }}</mat-card-subtitle>
                </div>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content class="articles-card-body">
                {{ article.content | truncate:450 }}
            </mat-card-content>
        </mat-card>
    </div>
</div>
