.articles {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    max-width: 1200px;

    &-controls {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .create-button {
            margin: 0.5rem 5px;
            background-color: rgb(103, 58, 183);
            border-radius: 5px;
            color: rgb(255, 255, 255);
            cursor: pointer;
        }

        .sort-button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-size: 1rem;
            font-weight: bolder;
        }

        @media screen and (max-width: 640px) {
            flex-direction: column;

            .sort-button {
                margin: 0.5rem 0;
            }
        }
    }

    &-cards-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &-card {
        background-color: #F5F5F5;
        width: 28%;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 1rem 5px;

        &-header {
            height: 30%;

            .header-group{
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                width: 100%;
                
                .title{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                }
    
                .subtitle-group{
                    display: flex;
                    position: relative;
        
                    .date, .author{
                        color: #000;
                    }

                    .author{
                        position: absolute;
                        top: 22%;
                        left: 50%;
                        transform: translate(-50%, 0);

                        @media screen and (max-width: 300px) {
                            left: 80%;
                        }
                    }
                }

            }
        }
        
        &-body {
            height: 70%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 9;
            -webkit-box-orient: vertical;
        }

        @media screen and (max-width: 1000px) {
            width: 42%;
        }

        @media screen and (max-width: 640px) {
            width: 100%;
            height: 200px;

            &-body {
                -webkit-line-clamp: 7;
            }
        }

        @media screen and (max-width: 340px) {
            height: 250px;
            
            .title{
                font-size: 1rem;
            }

            .date, .author{
                font-size: 0.8rem;
            }

            &-body {
                font-size: 0.8rem;
                -webkit-line-clamp: 9;
            }
        }
    }
}
